# ignore python environment folder
.venv/
venv/
env/

# Los archivos de modelos pueden ser muy grandes
/models/*.pkl
/models/*.h5
/models/*.pt


__pychache__/
*.py[cod]
*$py.class
*.so
.Python

.ipynb_checkpoints/

# Credentials
.env

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Big files on the root folder 
.csv
.parquet
.pkl

# mlflow artifacts handled in dvc
mlartifacts/

